.highlights {
    grid-area: highlights;
    display: flex;
    flex-direction: column;    
    padding: 0em 0.5em 0em;
    & .highlightsTitle {        
        padding: 1em 0.5em 1em;
        font-size: 1em;
        font-weight: 600;
        color: var(--text-primary);
    }

    & .highlightsDetails {
        display: flex;        
        flex-wrap: wrap;
        justify-content: center;        
        row-gap: 1em;
        column-gap: 0.5em;
        width: 100%;            
        & .sectionDetails {
            row-gap: 1em;            
            padding: 0.5em;
            display: flex;            
            flex-basis: 29%;
            background-color: var(--card-background);
            @media screen and (max-width: 1575px) {
                flex-basis: 28%;
            }
            @media screen and (max-width: 905px) {
                flex-basis: 40%;
            }                 
            flex-direction: column;
            border: var(--border-weight) var(--border-style) var(--border-color);
            border-radius: 15px;
            width: 100%;
            align-items: left;
            & .sectionTitle {
                font-size: 0.9em;
            }
            & .sectionInfo {                
                display: flex;
                column-gap: 1em;
                align-items: center;
                & .image {
                    max-height: 32px;
                    max-width: 32px;
                }
                & .sectionReading{
                    font-weight: 600;
                    font-size: 14px;
                }
            }
        }
    }

}
.mobileHighlights {
    grid-area: highlights;
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    & .highlightsTitle {        
        padding: 0.5em 0.5em 1em;
        font-size: 0.9em;
        font-weight: 600;
        color: var(--text-primary);
    }
    & .highlightsDetails {
        display: flex;        
        flex-wrap: wrap;
        justify-content: center;
        
        @media screen and (max-width: 450px) {
            justify-content: space-evenly;            
        }    
        row-gap: 1em;
        @media screen and (max-width: 375px) {
            row-gap: 0.2em;
        }
        column-gap: 0.5em;
        width: 100%;        
        & .sectionDetails {
            border: var(--border-weight) var(--border-style) var(--border-color);
            background-color: var(--card-background);
            border-radius: 15px;
            row-gap: 1em;            
            padding: 0.5em;  
            display: flex;            
            flex-basis: 29%;
            @media screen and (max-width: 800px) {
                flex-basis: 28%;
            }
            @media screen and (max-width: 730px) {
                flex-basis: 25%;
            }
            @media screen and (max-width: 475px) {
                flex-basis: 35%;                
            }
            @media screen and (max-width: 375px) {
                flex-basis: 100%;
            }
            & .sectionInfo {
                display: flex;
                column-gap: 0.5em;                
                align-items: center;
                & .image {
                    max-height: 32px;
                    max-width: 32px;
                }
                & .sectionReading{
                    font-weight: 600;
                    font-size: 0.9em;
                    font-size: calc(11px + 0.390625vw);
                    @media screen and (min-width: 757px) {
                        font-size: calc(12px + 0.390625vw);
                    }
                }
            }
        }
    }
}
