.weekly {
    grid-area: weekly;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    background-color: #fff;    
    margin: 1em 1em 1em 0em;
    border-radius: 5px;
    box-shadow: //TODO: put this somewhere else and reuse amongst cards
        0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075),
        0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075);
    padding-bottom: 1em;
    & .weeklyTitle {        
        font-size: 1.2em;
        font-weight: 600;
        padding: 0.5em;
    }
    & .weeklyForecast {
        display: flex;        
        column-gap: 0.5em;
        margin: 0em 0.8em;
        & .dayForecast {        
            padding: 1em 0em;    
            width: 100%;
            border: 1px solid rgb(231, 231, 231);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 1em;
            & .image {
                max-height: 32px;
                max-width: 32px;
            }
            & .highLowContainer {
                display: flex;
                font-size: 0.8em;
                column-gap: 0.5em;
                padding-top: 0.3em;
                & .lowTemp {
                    color: rgb(103, 103, 103);
                }
            }
        }
    }
}
.mobileWeekly {
    //border: 1px dotted black;
    grid-area: weekly;
    display: flex;
    flex-direction: column;
    width: 100%;
    & .weeklyTitle {
        font-size: 0.9em;
        font-weight: 600;
    }
    & .weeklyForecast {
        display: flex;
        flex-direction: column;
        & .dayForecast {
            //border: 1px solid red;
            display: flex;
            justify-content: space-between;

            align-items: center;
            & .imageContainer {
                img{
                    width: 100%;
                    max-width: 38px;
                    height: auto;                    
                }
            }
            & .highLowContainer {
                display: flex;
            }
        }
    }
}