@media screen and (min-width: 675px) {
    .weekly {
        grid-area: weekly;
        display: flex;
        flex-direction: column;
        row-gap: 0.5em;
        background-color: #fff;
        padding-top: 0.5em;
        border-radius: 0 0 0 0;
        padding-bottom: 1em;
        & .weeklyTitle {        
            font-size: 1em;
            @media screen and (max-width: 904px) {
                font-size: 0.9em;
            }
            font-weight: 600;
            padding: 0.5em 0.5em 0.5em 0.8em;
        }
        & .weeklyForecast {
            display: flex;        
            column-gap: 0.5em;
            margin: 0em 0.8em;
            & .dayForecast {        
                padding: 1em 0em;    
                width: 100%;
                border: 1px solid rgb(231, 231, 231);
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 1em;
                font-size: 0.7em;
                & .dayOfWeek {
                    font-size: 1.1em;
                    font-weight: 600;
                }
                & .imageContainer {
                    display: flex;
                    flex-direction :column;
                    align-items: center;
                    row-gap: 0.1em;
                }
                & .image {
                    max-height: 32px;
                    max-width: 32px;
                    
                }
                & .highLowContainer {
                    display: flex;
                    font-size: 1.2em;
                    column-gap: 0.2em;
                    padding-top: 0.3em;
                    & .lowTemp {
                        color: rgb(103, 103, 103);
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 674px) {
.weekly {
    grid-area: weekly;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1em;
    padding-bottom: 1em;
    & .weeklyTitle {
        font-size: 0.9em;
        font-weight: 600;
    }
    & .weeklyForecast {
        display: flex;
        flex-direction: column;
        row-gap: 0.5em;
        padding: 0.5em 1.5em 0em;
        @media screen and (min-width: 625px) {
            padding: 0em 2em;
        }
        & .dayForecast {            
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: calc(10px + 0.390625vw);
            @media screen and (min-width: 757px) {
                font-size: calc(11px + 0.390625vw);
            }
            & .imageContainer {
                display: flex;
                align-items: center;                
                img{
                    width: 100%;
                    max-width: 34px;
                    height: auto;                    
                }
                & .rainPrecip {
                    padding-left: 0.3em;
                }
            }
            & .highLowContainer {
                display: flex;
                column-gap: 0.1em;
                & .lowTemp {
                    color: rgb(103, 103, 103);
                }
            }
        }
    }
}
}