.mainContainer {
  display: flex;
  width: 100%;
  align-items: center;
  @media screen and (max-width: 1025px) {
    align-items: start;
  }
  justify-content: center;
  background-color: var(--background-color);
  background-color: rgb(192, 205, 222);
}
.titleContainer{
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1em;
  margin-top: 0.5em;
  & .appTitle {
    font-family: 'Arima', cursive;
    font-size: 3em;
    @media screen and (max-width: 725px) {
      font-size: 2.5em;
    }
    @media screen and (max-width: 550px) {
      font-size: 2em;
    }
    text-align: center;    
    color: var(--text-primary);
  }
  & img {
    max-width: 42px;
    max-height: 42px;
  }
}
.centerAppContainer {
  margin-top: 8em;
}
.appContainer {
    align-self: flex-start;
    width: 100%;
    margin: 0.5em 2em 2em 2em;
    padding: 1em 2em;
    position: relative;

    @media screen and (max-width: 905px) {
      min-height: 700px;
    }
    @media screen and (min-width:1225px) {
      margin: 0.5em 8em 2em 8em;
    }
    @media screen and (min-width:1525px) {
      margin: 0.5em 12em 2em 12em;
    }
    display: grid;
    grid-template-areas:    
    "title title"
    "logo logo"
    "searchbar searchbar"
    "details details";
    grid-template-columns: minmax(auto, 40%) 1fr;    
    grid-template-rows:auto;
    row-gap: 1em;
    & .detailsContainer {
      margin-top: 1em;
      grid-area: details;
      display: grid;
      grid-template-areas:
      "daily highlights"
      "daily weekly";
      grid-template-columns: minmax(auto, 40%) 1fr;    
      grid-template-rows:auto;
    }
  }
  .smallAppContainer {
    display: grid;
    grid-template-areas:    
    "title title"
    "logo logo"
    "searchbar searchbar"
    "details details";
    width: 100%;
    flex-direction: column;
    row-gap: 1em;
    padding: 1em 2em 1em 2em;
    margin: 0.5em 2em 2em 2em;
    position: relative;
    align-items: center;
    @media screen and (max-width: 525px) {
      padding: 1em 0em;
      margin: 0.5em 1em 2em 1em;
    }
    & .detailsContainer {
      grid-area: details;
      display: grid;
      grid-template-areas:
      "daily daily"
      "highlights highlights"
      "weekly weekly";
      grid-template-columns: minmax(auto, 40%) 1fr;    
      grid-template-rows:auto;
    }
  }
  .menuOptions {
    // position: relative;
    button {
      top: 0;
      margin-top: 0.2em;
      background-color: inherit;
      border: none;
      font-size: 1.5em; 
      &:hover {
        cursor: pointer;
      }
      &.alerts {
        position: absolute;
        left: 0;
        margin-left: 0.5em;
        background-color: inherit;
        color: var(--alert-icon);
        @media screen and (max-width: 475px) {
          font-size: 1.25em;
        }
      }
    }
  }
  .logoContainer {
    grid-area: logo;
    display: flex;
    justify-content: center;
    // margin-bottom: 5em;
    .logo {
      max-width: 150px;
      max-height: 150px;
      display: flex;
      @media screen and (max-width: 725px) {
        max-width: 125px;
        max-height: 125px;
      }
    }
  }