.imageContainer {
  width: '100vw';
  height: '100vh';
  //background-image: `url(${backgroundImage})`;
  background-position: 'center';
  background-size: 'cover';
  background-repeat: 'no-repeat';
}
.titleContainer{
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1em;
  padding-bottom: 0.5em;
  & .appTitle {
    // font-family: 'Sacramento', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;  
    text-align: center;
    padding: 0.5em 0em;
    color: rgb(9, 21, 69);
  }
  & img {
    max-width: 42px;
    max-height: 42px;
  }
}
.appContainer {
    height: 100%;
    background-color: #fff;
    border: 1px solid #b5bdc7;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 15px;
    margin: 2em;
    padding: 1em 2em;
    position: relative;
    @media screen and (max-width: 905px) {
      min-height: 700px;
    }
    @media screen and (min-width:1225px) {
      margin: 2em 8em 5em 8em;
    }
    @media screen and (min-width:1525px) {
      margin: 2em 12em 5em 12em;
    }
    .settings {
      position: absolute;
    }
    & .alerts {
      position: absolute;
    }
    display: grid;
    grid-template-areas:    
    "searchbar searchbar"
    "title title"
    "daily highlights"
    "daily weekly";
    grid-template-columns: minmax(auto, 40%) 1fr;    
    grid-template-rows:auto;
    row-gap: 2em;
    @media screen and (min-width: 1225px) {
      grid-template-columns: minmax(auto, 35%) 1fr;
    }
  }
  .smallAppContainer {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    padding: 1em 2em 1em 1em;
    margin: 2em;
    background-color: #fff;
    border: 1px solid #b5bdc7;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 15px;
    height: 100%;   
    position: relative;
    & .settings {
      position: absolute;
    }
    & .alerts {
      position: absolute;
    }
  }
  .settings {    
    top: 0;
    right: 0;
    margin-top: 0.2em;
    margin-right: 0.2em;
    background-color: inherit;      
    border: none;
    padding: 0.5em;
    font-size: 1.5em;      
    color: rgb(118, 117, 117);
    &:hover {
      cursor: pointer;
    }
  }
.alerts {
  top: 0;
  left: 0;
  margin-top: 0.2em;
  margin-left: 0.5em;
  background-color: inherit;      
  border: none;
  padding: 0.5em;
  font-size: 1.5em;      
  color:rgb(203, 24, 24);
  &:hover {
    cursor: pointer;
  }
}
