.appContainer {    
    height: 100%;
    @media screen and (min-width:775px) {
      margin: 2em 5em;
    }
    @media screen and (min-width:1225px) {
      margin: 2em 10em;
    }
    @media screen and (min-width:1525px) {
      margin: 2em 15em;
    }
    display: grid;
    grid-template-areas: 
    "daily highlights"
    "daily weekly";
    grid-template-columns: minmax(auto, 40%) 1fr;
  }