.switchContainer {
    display: flex;
    justify-content: flex-end;
    & .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        & input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        &:hover{
            cursor: pointer;
        }
    }
    & .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 34px;
        background-color: #ccc;
    }
    & .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: #fff;
        transition: 0.3s;
        border-radius: 50%;
    }
    & input:checked + .slider:before{
        transform: translateX(26px);
    }
    & .labels {
        position: absolute;
        top: 9px;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 14px;
        font-family: sans-serif;
        transition: all 0.1s ease-in-out;
      }
  
      & .labels::after {
        content: attr(data-celcius);
        position: absolute;
        right: 8px;
        color: black;
        opacity: 1;
        transition: all 0.1s ease-in-out;
      }
  
      & .labels::before {
        content: attr(data-farenheit);
        position: absolute;
        left: 8px;
        opacity: 0;        
        transition: all 0.1s ease-in-out;
      }
  
      & input:checked~.labels::after {
        opacity: 0;
      }
  
      & input:checked~.labels::before {
        opacity: 1;
      }

}