.searchbar {
    //border: 1px dashed black;
    display:flex;
    column-gap: 0.3em;
   //width: 100%;
    padding:1em;
    //flex-direction: column;
    & .input {
        padding: 0.5em;
        border: 1px solid lightgrey;
        border-radius: 5px;
        width: 70%;
        margin-right: 0.3em;
    }
    & .searchButton {
        border-radius: 5px;
        border: none;
        background-color: #0a406d;
        color: white;
        padding-left: 0.8em;
        padding-right: 0.8em;
        letter-spacing: 0.07em;
        //font-size: 1em;
        &:hover {
            cursor: pointer;
            //outline: 3px dotted #1379cb;
            //transition: outline 0.1s ease-in-out;
            //background-color: #1379cb;
            //transition: 0.7s;
            background-color: #4c90af; /* Green */
            color: white;
        } 
    }
    // .searchButton:hover {
    //     background-color: #4CAF50; /* Green */
    //     color: white;
    // }

}