.searchbar {    
    display:flex;
    column-gap: 0.3em;
    padding:1em;
    justify-content: center;
    @media screen and (max-width: 905px) {
        width: 100%;
    }    
    @media screen and (max-width: 475px) {
        flex-direction: column;
        row-gap: 0.3em;
        width: 80%;
    }
    & .input {
        padding: 0.5em;
        border: 1px solid lightgrey;
        border-radius: 5px;
        font-size: 1em;
        @media screen and (max-width: 675px) {
            font-size: calc(12px + 0.390625vw);
        }
        @media screen and (min-width: 726px) {
            width: 70%;
        }    
        @media screen and (min-width: 526px) and (max-width: 725px) {
            width: 85%;
        }
        @media screen and (min-width: 475px) and (max-width: 525px) {
            width: 100%;
        }        
    }
    & .searchButton {
        border-radius: 5px;
        border: none;
        background-color: #0a406d;
        color: white;
        padding-left: 0.8em;
        padding-right: 0.8em;
        letter-spacing: 0.07em;
        @media screen and (max-width: 475px) {
            width: 100%;
            padding: 7px;
        }
        &:hover {
            cursor: pointer;
            background-color: #4c90af; /* Green */
            color: white;
        } 
    }
}