.searchbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    & .searchbarInput {    
        display:flex;
        column-gap: 0.3em;            
        padding: 1em 0em 0em 0em;        
        justify-content: center;
        width: 100%;
        @media screen and (min-width: 526px) and (max-width: 904px) {
            width: 85%;
        }
        // & .inputWrapper {
        //     border: 1px solid black;
        //     display: flex;
            
            & .input {
                padding: 0.5em;
                border: 1px solid lightgrey;
                border-radius: 5px;
                font-size: 1em;
                width: 100%;
                @media screen and (max-width: 675px) {
                    font-size: calc(12px + 0.390625vw);
                }        
                margin-left: 1em;         
            }
        // }
        & .searchButton {
            border-radius: 5px;
            border: none;
            background-color: #0a406d;
            color: white;
            padding-left: 0.8em;
            padding-right: 0.8em;
            letter-spacing: 0.07em;
            &:hover {
                cursor: pointer;
                background-color: #4c90af; /* Green */
                color: white;
            } 
        }
    }
    & .listContainer {
            position: relative;
            display:flex;
            margin-left: 1.2em;
            & .locationList {
                display: flex;
                flex-direction: column;           
                width: fit-content;
                list-style-type: none;            
                position: absolute;
                background-color: #fff;                
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                border-radius: 0px 0px 10px 10px;
                z-index: 1;
               & button {
                display:flex;
                align-items: flex-start;
                background-color: inherit;
                border: none;
                width: 100%;
                padding: 0.5em;
                font-family:inherit;
                font-size: 0.9em;
                &:hover {
                    cursor: pointer;
                    background-color: #0a406d; /* Green */
                    color: white;
                }
                &:last-of-type {
                    border-radius: 0px 0px 10px 10px;
                }
            }
        }
    }
}