.daily {
    grid-area: daily;
    display: flex;
    flex-direction: column;
    margin: 1em;
    //padding-left: 1em; //TODO: need this?
    background-color: #fff;
    border-radius: 5px;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075);
      & .locationName {            
        font-size: 1.5em;
        font-weight:600;
        margin: 1em 0em;
        text-align: center;
    }
    & .dailyDetails {
        display: flex;
        flex-direction: column;
        padding: 1em;
        & .dailyImage {
            max-width: 100%;
            height: auto;
            padding-left: 0.5em;
            max-height: 225px;
            max-width: 225px;
        }
        border-radius: 15px;

        & .temperature {
            font-size: 2.2em;
            margin-bottom: 0.7em;
        }
        & .date {
            padding-bottom:1em;
            //border-bottom: 1px solid lightgrey;
        }
        & .dailyForecast {
            margin: 1em 0em;
            display: flex;
            column-gap: 0.5em;
            align-items: center;
            img {
                height: 32px;
                width: 32px;
            }
        }
    }
}
.mobileDaily {
    display: flex;
    grid-area: daily; 
    flex-direction: column;
    row-gap: 0.5em;
    & .locationName {
        font-weight: 600;
        font-size: 1.1em;
        text-align: center;
    }
    & .dailyDetails {
        display: grid;
        grid-template-areas: 
        "image details";            
        grid-template-columns: minmax(auto, 50%) 1fr;                
        width: 100%;
        column-gap: 1em;
        & .imageContainer {
            display: flex;
            justify-content: right;
            align-items: center;
            & .dailyImage {
                grid-area: image;
                max-width: 100%;
                height: auto;                    
                max-height: 96px;
                max-width: 96px;                    
            }
        }
        & .detailsContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 0.1em
        }
        & .temperature {
            font-size: 1.2em;
            font-weight: 600;                
        }
        & .date {                
            font-size: 0.9em;
        }
    }
}