.daily {
    grid-area: daily;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // border: 1px solid rgb(231, 231, 231);
    // border-radius: 15px;
    // background-color: #f6f4f8;
    // background-color: #fff;
    // border-radius: 0px 0px 0px 15px;     
      & .locationName {            
        font-size: 1.4em;
        font-weight:600;
    }
    & .dailyDetails {
        display: flex;
        flex-direction: column;        
        padding: 0em 1em;
        margin-top: -1em;
        @media screen and (min-width: 1525px) {
            margin-top: -2.5em;
        }
        border-radius: 15px;
        & .imageContainer {
            display: flex;
            height: auto;
            max-width: 55%;
            align-self: center;
            & .dailyImage {
                max-width: 100%;
                height: auto;
            }
        }
        & .temperature {
            font-size: 1.9em;
            // margin-bottom: 0.7em;
        }
        & .date {
            padding-bottom:1em;
            font-size: 0.8em;       
        }
        & .feelsLike {
            color: rgb(88, 100, 112);
        }
    }
}
.mobileDaily {
    display: flex;
    grid-area: daily; 
    flex-direction: column;
    align-items: center;
    row-gap: 0.5em;    
    & .locationName {
        font-size: 22px;
        font-weight: 600;
        @media screen and (min-width: 650px) and (max-width: 905px) {
            font-size: calc(20px + 0.390625vw);
        }
        @media screen and (min-width: 325px) and (max-width: 649px) {
            font-size: calc(18px + 0.390625vw);
        }  
        text-align: center;
        margin: 0.5em 0em 0em 0em;
    }
    & .dailyDetails {
        display: grid;
        grid-template-areas: 
        "image details";            
        grid-template-columns: minmax(auto, 50%) 1fr;                
        width: 100%;
        column-gap: 1em;
        & .imageContainer {
            display: flex;
            height: auto;            
            justify-content: right;
            align-items: center;            
            & .dailyImage {
                max-width: 50%;
                height: auto;
            }
        }
        & .detailsContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 0.1em
        }
        & .temperature {
            font-size: 24px;
            font-weight: 600;    
            @media screen and (min-width: 650px) and (max-width: 905px) {
                font-size: calc(20px + 0.390625vw);
            }
            @media screen and (min-width: 325px) and (max-width: 649px) {
                font-size: calc(18px + 0.390625vw);
            }             
        }
        & .date {                
            font-size: 0.9em;
        }
        & .feelsLike {
            color: rgb(88, 100, 112);
        }
    }
}