// html {
//   border: 1px solid lightgrey;
//   border-radius: 20px;
//   margin: 1em;
// }
body {
  // margin: 0em;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}