:root {
  --background-color: white;
  --card-background: #f4f4f8;
  --text-primary: black;
  --text-secondary: rgb(93 95 96);
  --text-tertiary: rgb(93 95 96);
  --modal-background: white;
  --modal-border: black;
  // --button-primary: #0a406d;
  // --button-primary-text: white;
  // --button-primary-hover: #4c90af;
  --button-primary: rgb(104, 117, 217);
  --button-primary-text: white;
  --button-primary-hover: rgb(12 30 164 / 87%);
  --border-color: #e7e7e7;
  --border-style: solid;
  --border-weight: 1px;
  --search-list-background: #f6f4f8;
  --input-background:	#f2f5f7d4;
  --toggle-background: #b7b5b5;
  --toggle-slider: white;
  --toggle-icon: rgb(216, 209, 12);
  --alert-icon: rgb(203, 24, 24);
  --text-error: rgb(197, 2, 2);
}
[data-theme='dark'] {
  // --background-color: rgb(45, 45, 45);
  --background-color: #0B2447;
  // --card-background: grey;
  --card-background: #6877ad;
  --border-style: solid;
  --border-color: #2c2d2d;
  --text-primary: white;
  --text-secondary: grey;
  --text-tertiary: rgb(224, 221, 221);
  --modal-background: #bfcedf;
  --modal-border: white;
  // --button-primary: #5cb0d6;
  // --button-primary-text: black;
  --button-primary: rgb(72 83 167);
  --button-primary-hover: rgb(178, 178, 223);
  --accent: darkred;
  --toggle-icon: rgb(255, 238, 0);
  --input-background: #f5f5f5;
  --toggle-background: #8f9392;
  --alert-icon: rgb(237 52 52);
}
#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}