.hourlyMainContainer {
    display: flex;
    flex-direction: column;
    padding-top: 1.5em;
    row-gap: 0.3em;
    grid-area: hourly;
    width: 100%;
    // padding-bottom: 1em;
    &.mobile{
        width: 75%;
        @media screen and (max-width: 575px) {
            width: 100%;
        }
    }
    & .hourlyTitle {
        font-size: 14px;
        font-weight: 550;
        padding-left: 32px;
        color:white;
    }
    & .hourlyContainer {
        overflow-x: hidden;        
        margin: 0em 0.25em;
        padding: 0px 20px;
        display: flex;
        position: relative;
        color: var(--text-primary);
         
        & .leftArrow {
            position: absolute;
            background-color: inherit;
            border: none;
            left: 0;
            top: 50%;
            color: var(--text-primary);
            transform: translateY(-50%);
            &:hover{
                cursor: pointer;
            }
        }
        & .rightArrow {
            position: absolute;
            background-color: inherit;
            border: none;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            color: var(--text-primary);
            &:hover{
                cursor: pointer;
            }
        }
        & .scrollContainer::-webkit-scrollbar {
            display: none;
        }
        & .scrollContainer {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
            display: flex;
            -webkit-overflow-scrolling: touch;
            flex-wrap: nowrap;
            overflow-x: auto;
            overflow-y: hidden;            
            & .hourlyForecast {
                padding: 0.2em 0.5em;                
                display: flex;
                flex-direction: column;
                align-items: center;
                & .hourlyImageContainer{
                    & .hourlyImage {
                    margin: 0.5em;
                    max-height: 32px;
                    max-width: 32px;
                    }
                }
                & .hourlyTime {
                    font-size: 12px;
                    font-weight: 600;
                }
                & .precipContainer {
                    display: flex;
                    align-items: center;
                    & .hourlyPOP {
                        font-size: 11px;
                        align-items: left;
                    }
                    & .precipImageContainer {
                        & .precipImage {
                            max-height: 12px;
                            max-width: 12px;
                        }
                    }
                }
                & .hourlyTemp {
                    font-size: 13px;
                }
            }
        }
    }
}